In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer

!pip install feature_engine
from feature_engine.outliers import Winsorizer
from sklearn.preprocessing import MinMaxScaler, OrdinalEncoder, OneHotEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

import tensorflow as tf
from tensorflow.keras.models import Sequential, Model, load_model
from tensorflow.keras.layers import Input, Dense, Dropout

np.random.seed(50)
tf.random.set_seed(50)

Requirement already satisfied: feature_engine in c:\users\ridhwan\miniconda3\lib\site-packages (1.6.1)
Requirement already satisfied: scikit-learn>=1.0.0 in c:\users\ridhwan\miniconda3\lib\site-packages (from feature_engine) (1.2.2)
Requirement already satisfied: pandas>=1.0.3 in c:\users\ridhwan\miniconda3\lib\site-packages (from feature_engine) (1.5.3)
Requirement already satisfied: scipy>=1.4.1 in c:\users\ridhwan\miniconda3\lib\site-packages (from feature_engine) (1.10.1)
Requirement already satisfied: numpy>=1.18.2 in c:\users\ridhwan\miniconda3\lib\site-packages (from feature_engine) (1.24.3)
Requirement already satisfied: statsmodels>=0.11.1 in c:\users\ridhwan\miniconda3\lib\site-packages (from feature_engine) (0.14.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ridhwan\miniconda3\lib\site-packages (from pandas>=1.0.3->feature_engine) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ridhwan\miniconda3\lib\site-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ridhwan\miniconda3\lib\site-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ridhwan\miniconda3\lib\site-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\ridhwan\miniconda3\lib\site-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\ridhwan\miniconda3\lib\site-packages (from statsmodels>=0.11.1->feature_engine) (23.0)
Requirement already satisfied: six in c:\users\ridhwan\miniconda3\lib\site-packages (from patsy>=0.5.2->statsmodels>=0.11.1->feature_engine) (1.16.0)

In [2]:
df_inf = pd.read_csv('data_inf.csv')
df_inf

,Unnamed: 0,avg_transaction_value,points_in_wallet,membership_category,feedback,churn_risk_score
0,0,45030.15,620.140000,No Membership,Poor Customer Service,1
1,1,38243.59,692.870000,No Membership,No reason specified,1
2,2,23176.72,674.080000,Basic Membership,No reason specified,1
3,3,6846.24,301.314265,Basic Membership,Poor Website,1
4,4,23425.70,709.790000,Premium Membership,User Friendly Website,0
5,5,18876.52,706.680000,Silver Membership,Too many ads,0
6,6,24139.82,750.730000,Platinum Membership,Poor Product Quality,0
7,7,42001.80,840.130000,Platinum Membership,User Friendly Website,0
8,8,69495.40,792.790000,Premium Membership,Quality Customer Care,0
9,9,18252.15,708.400000,Premium Membership,Reasonable Price,0

In [3]:
df_inf.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
df_inf

,avg_transaction_value,points_in_wallet,membership_category,feedback,churn_risk_score
0,45030.15,620.140000,No Membership,Poor Customer Service,1
1,38243.59,692.870000,No Membership,No reason specified,1
2,23176.72,674.080000,Basic Membership,No reason specified,1
3,6846.24,301.314265,Basic Membership,Poor Website,1
4,23425.70,709.790000,Premium Membership,User Friendly Website,0
5,18876.52,706.680000,Silver Membership,Too many ads,0
6,24139.82,750.730000,Platinum Membership,Poor Product Quality,0
7,42001.80,840.130000,Platinum Membership,User Friendly Website,0
8,69495.40,792.790000,Premium Membership,Quality Customer Care,0
9,18252.15,708.400000,Premium Membership,Reasonable Price,0

In [5]:
import joblib
with open('prepro.pkl', 'rb') as file1:
  preprocess_pipe = joblib.load(file1)

In [6]:
df_inf_final = preprocess_pipe.transform(df_inf)

In [7]:
model = load_model('ann_churn.h5')

In [8]:
pred_inf = model.predict(df_inf_final)
pred_inf

1/1 [==============================] - 0s 121ms/step

array([[9.6957624e-01],
       [9.6751618e-01],
       [9.6283036e-01],
       [9.7495693e-01],
       [0.0000000e+00],
       [5.2210289e-01],
       [2.3994863e-07],
       [0.0000000e+00],
       [0.0000000e+00],
       [0.0000000e+00]], dtype=float32)

In [9]:
res_inf = np.where(pred_inf >= 0.5, 1, 0)
res_inf

array([[1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0]])

In [10]:
df_res_inf = pd.DataFrame(res_inf, columns=['Prediction'])

In [11]:
df_compare = pd.concat([df_inf,df_res_inf], axis=1)
df_compare

,avg_transaction_value,points_in_wallet,membership_category,feedback,churn_risk_score,Prediction
0,45030.15,620.140000,No Membership,Poor Customer Service,1,1
1,38243.59,692.870000,No Membership,No reason specified,1,1
2,23176.72,674.080000,Basic Membership,No reason specified,1,1
3,6846.24,301.314265,Basic Membership,Poor Website,1,1
4,23425.70,709.790000,Premium Membership,User Friendly Website,0,0
5,18876.52,706.680000,Silver Membership,Too many ads,0,1
6,24139.82,750.730000,Platinum Membership,Poor Product Quality,0,0
7,42001.80,840.130000,Platinum Membership,User Friendly Website,0,0
8,69495.40,792.790000,Premium Membership,Quality Customer Care,0,0
9,18252.15,708.400000,Premium Membership,Reasonable Price,0,0